@using BlazorServerConduit.Store.Articles.Actions;
@using Fluxor;
@inherits MyComponentBase
@inject ArticlesService ArticlesService

<button class="btn btn-sm @_classes @(Article.Favorited ? "btn-primary": "btn-outline-primary") @(_isSubmitting ? "disabled":"")" @attributes=_attributes @onclick="OnSubmit" disabled="@_isSubmitting">
    <i class="ion-heart"></i> 
    @if (ShowText)
    {
        <span>&nbsp;@(Article.Favorited ? "Unfavorite Article": "Favorite Article")</span>
        <span class="counter">(@(Article.FavoritesCount))</span>
    } 
    else 
    {
        @Article.FavoritesCount
    }
</button>


@code {
    private bool _isSubmitting = false;

    [Parameter, EditorRequired]
    public Article Article { get; set; }

    [Parameter]
    public bool ShowText { get; set; }

    [Inject]
    public IDispatcher Dispatcher { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        _isSubmitting = false;
    }

    private void OnSubmit()
    {
        _isSubmitting = true;
        if (Article.Favorited)
        {
            Dispatcher.Dispatch(new UnfavoriteArticleAction(Article.Slug));
        }
        else
        {
            Dispatcher.Dispatch(new FavoriteArticleAction(Article.Slug));
        }
    }
}
