@using BlazorServerConduit.Services;

<div class="article-preview">
    <div class="article-meta">
        <a href="profile.html"><img src="@Article.Author.Image" /></a>
        <div class="info">
            <a href="" class="author">@Article.Author.UserName</a>
            <span class="date">@Article.UpdatedAt.ToString("D")</span>
        </div>
        <button class="btn btn-outline-primary btn-sm pull-xs-right">
            <i class="ion-heart"></i> @Article.FavoritesCount
        </button>
    </div>
    <a href="" class="preview-link">
        <h1>@Article.Title</h1>
        <p>@Article.Description</p>
        <span>Read more...</span>
        <ArticleTags Tags="Article.TagList"/>
    </a>
</div>

@code {
    [Parameter]
    public Article Article { get; set; } = default!;
}
